body{
  font: 15px/1.5 Lucida, Arial, sans-serif;
  padding:0;
  margin: 0;
  background-color:#9f00a5;
 }

 /* Global */
 .container{
  width: 80%;
  margin:auto;
  overflow:hidden;
 }

 ul{
  margin: 0;
  padding: 0;
}

 /*Header **/
 header{
   background:#0a090a



}
h1{
  color:#ffffff;
  padding-top:41px;
  min-height:71px;
  border-bottom:#ffffff 3px solid;
  margin: auto;
}
h2{
  font-size: 22px;
  font-weight: 398px;
  color: #ffffff;
}
header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 398px;
}

header li{
  display: inline;
  padding: 0 21px 0 21px;
  
}

header #branding{
  float:left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top:11px;

}
header .highlight, header .current a{
  color:#9f00a5;
  font-weight: bold;
  width: 100%;
}
header a:hover{
  color: #db0a0a;
  font-weight: bold;
  width: 100%;
}

/* coolors */
#coolors{
  min-height:398px;
  background:#FDE9FF;
  text-align: center;
  color: white

}

body{
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  width: 100%;

}


body{
font-size: 21px;
color: white;
width: 100%



}
