body{
  font: 15px/1.5 Lucida, Helvetica, sans-serif;
  padding:0;
  margin: 0;
  background-color:#F3752B;
 }

 /* Global */
 .container{
  width: 80%;
  margin:auto;
  overflow:hidden;
 }

 ul{
  margin: 0;
  padding: 0;
}

 /*Header **/
 header{
   background:#35424a



}
h1{
  color:#ffffff;
  padding-top:40px;
  min-height:70px;
  border-bottom:#ffffff 3px solid;
  margin: auto;
}
h2{
  font-size: 17px;
  font-weight: 400px;
  color: #000000;
}
header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400px;
}

header li{
  float: left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top:10px;

}
header .highlight, header .current a{
  color:#e8491d;
  font-weight: bold;


}
header a:hover{
  color: #dddddd;
  font-weight: bold;
}

/* coolors */
#coolors{
  min-height:400px;
  background:#FDE9FF;
  text-align: center;
  color: white

}

body{
  font-size: 18px;
  font-weight: bold;
  font-style: italic;

}
